.line_class {
  line-height: normal;
}

.gradient-background {
  background: url("../assets/banner_img.png"),
    linear-gradient(316deg, #dfe3fb, #ece4fb, #8061ec);
  background-size: 110% 110%, cover;
  background-position: 0% 50%, center;
  animation: gradient-animation 24s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%, center;
  }
  50% {
    background-position: 100% 50%, center;
  }
  100% {
    background-position: 0% 50%, center;
  }
}


